/* 
  .available {
    text-align: center;
    color: #777;
    font-size: 14px;
    margin-bottom: 65px;
    margin-top: -65px;
  }

  .amount-display {
    font-size: 36px;
    font-weight: bold;
    color: #222;
   margin: 20px 0;
    text-align: center;
   
  }

  .quick-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
  }

  .quick-buttons button {
    border: 1.5px solid #aaa;
    background: #fff;
    border-radius: 25px;
    padding: 8px 16px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 14px;
    color: #000;
  }

  .quick-buttons button:hover {
    background-color: #eaf7ff;
    border-color: #2196f3;
    color: #2196f3;
  }

  .bank-card {
    background-color: #f1f1f1;
    border-radius: 12px;
    padding: 10px;
    text-align: left;
    font-size: 14px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .bank-logo {
    width: 50px;
    height: 30px;
    object-fit: contain;
    margin-bottom: 5px;
  
  }

  .keypad {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 12px;
    margin-top: 10px;
  }

  .keypad button {
    background-color: #fff;
    border: 1.5px solid #ccc;
    border-radius: 10px;
    font-size: 20px;
    height: 50px;
    cursor: pointer;
    transition: 0.2s;
    color: #000;
  }

  .keypad button:hover {
    background-color: #0000001a;
    color: #000;
  }

  .delete {
    font-weight: bold;
    color: #d32f2f;
  }
   .addmoney-btn {
        margin-top: 20px;
        width: 100%;
        background: #4aa5d2;
        border: none;
        padding: 14px 0;
        border-radius: 12px;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }

    .addmoney-btn:hover {
        background: #4aa5d2;
    } */