
  .available {
    text-align: center;
    color: #777;
    font-size: 14px;
    margin-bottom: 65px;
    margin-top: -65px;
  }

  .amount-display {
    font-size: 36px;
    font-weight: bold;
    color: #222;
   margin: 20px 0;
    text-align: center;
   
  }

  .quick-buttons {
    display: flex;
    justify-content: space-around;
    margin-bottom: 25px;
  }

  .quick-buttons button {
    border: 1.5px solid #aaa;
    background: #fff;
    border-radius: 25px;
    padding: 8px 16px;
    cursor: pointer;
    transition: 0.2s;
    font-size: 14px;
    color: #000;
  }
