
    .back {
      font-size: 16px;
      color: #0d0d0e;
      cursor: pointer;
      margin-bottom: 15px;
      display: inline-block;
     
    }

    h2 {
      
      color: #333;
      margin-bottom: 10px;
      margin-left: 20px;
     
    }

    .banks {
      display: flex;
      flex-wrap: nowrap;
      gap: 20px;
      margin: 20px;
      justify-content: flex-start;
      align-items: flex-start;
      

    }

    .bank-card {
      background: white;
      border-radius: 15px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
      padding: 20px;
      width: 300px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      position: relative;
      transition: transform 0.2s ease;
    }

    .bank-card:hover {
      transform: translateY(-3px);
      cursor: pointer;
      background-color: #007bff48;
    }

    .primary-tag {
      position: absolute;
      top: 10px;
      right: 15px;
      font-size: 12px;
      background: #28a745;
      color: white;
      padding: 3px 8px;
      border-radius: 10px;
    }

    .bank-logo {
      width: 50px;
      height: 50px;
      object-fit: contain;
      margin-bottom: 10px;
    }

    .bank-name {
      font-size: 18px;
      font-weight: bold;
      color: #333;
    }

    .bank-number {
      font-size: 14px;
      color: gray;
      margin-top: 5px;
    }

    /* Add New Bank Card */
    .add-bank {
      background: #fff;
      border: 2px dashed #bbb;
      color: #666;
      text-align: center;
      font-size: 18px;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      border-radius: 15px;
      transition: all 0.3s ease;
    }

    .add-bank:hover {
      background: #f1f1f1;
      border-color: #007bff;
      color: #007bff;
    }

    .add-bank span {
      font-size: 28px;
      margin-right: 8px;
    }