  
        .photo-section {
      text-align: center;
      margin-bottom: 20px;
    }

    .photo-section img {
      width: 100px;
      height: 100px;
      border-radius: 50%;
      object-fit: cover;
      border: 2px solid #ccc;
    }
         h2 {
            font-weight: 600;
            margin-bottom: 25px;
            color: #333;
            text-align: center;

         }

         input {
            width: 100%;
            padding-bottom: 12px;
            margin: 10px 0;
            border-radius: 8px;
            border: 1px solid #ccc;
            font-size: 15px;
            outline: none;


         }

         .password-container i {
            position: relative;
         }

         .password-container i {
            position: absolute;
            right: 12px;
            top: 13px;
            cursor: pointer;
            color: #888;

         }

         button {
            width: 100%;
            padding: 12px;
            margin-top: 10px;
            font-size: 16px;
            border-radius: 8px;
            border: none;
            cursor: pointer;
            transition: 0.3s;
            background-color: #4aa5d2;
           
            
         }
         .register-btn {
          padding: 12px;
          border-radius: 8px;

         }
          
         

 
         .or {
            margin: 15px 0;
            color: #555;
            text-align: center;

         }

         .forgrt {
            display: block;
            margin-top: 15px;
            color: #007bff;
            text-decoration: none;
            font-size: 14px;
         }

         .forget:hover {
            text-decoration: underline;

         }
        
         .message {
            margin-top: 15px;
            color: #28a745;
            font-weight: 500;
         }

         .error {
            color: red;
         }