 
        .profile-header {
            text-align: center;
            padding-top: 10px;
        }
        .profile-conatiner {
            position: relative;
           
        }
        .profile-pic {
            width: 100px;
            height: 100px;
            border-radius: 50%;
            background-color: #f0f0f0;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 50px;
            color: #aaa;
            margin:0 auto 0;

        }
       
        #imageupload {
            display: none;
        }

       h5 {
            margin: 0 0;
            font-weight: 600;
            font-size: 20px;
        }
        .wallet {
           
            color: #000000;
            padding: 10px 10px;
            border-radius: 8px;
            font-weight: bold;
            font-size: 14px;
            cursor: pointer;
          display: flex;
         align-items: center;
         font-size: 16px;
           justify-content: center;
        }

        .menu {
            width: 100%;
        }
        .menu-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 15px 20px;
            border: 1px solid #add;
            border-radius: 10px;
            margin: 10px 0;
          
            transition: 00.2s;
            cursor: pointer;
            color: #000;

        }

        .menu-item:hover {
            background-color: #f5f5f5;

        }

        .menu-item i {
            margin-right: 15px;
            font-size: 20px;
            color: #000;
            width: 25px;
            text-align: center;

        }

        .menu-item span {
            font-size: 16px;
            font-weight: 500;
        }

        .logout-btn {
  width: 100%;
  margin-top: 20px;
  padding: 12px;
  background: #e53935;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

.logout-btn:hover {
  background: #c62828;
}
