
    h1 {
        text-align: center;
       margin-top: -30PX;
        font-size: 22px;
        margin-bottom: 70px;
    }

    .balanc {
        text-align: center;
      margin: 0;
        font-size: 28px;
        font-weight: bold;
    }

    .balance-text {
        text-align: center;
        font-size: 14px;
        color: #777;
        margin-bottom: 30px;
       
    }

    .card {
        padding: 15px;
        border: 1.5px solid #ddd;
        border-radius: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 20px;
        background-color: #fff;
    }

    .left-part {
        display: flex;
        align-items: center;
        gap: 12px;
    }

    .icon-box {
        width: 50px;
        height: 50px;
        border: 1.5px solid #aaa;
        border-radius: 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 22px;
    }

    .text-title {
        font-size: 16px;
        font-weight: bold;
    }

    .sub-text {
        font-size: 14px;
        color: #666;
    }

    .action-btn {
        border: 1.5px solid #aaa;
        background: #4aa5d2;
        padding: 8px 18px;
        border-radius: 10px;
        cursor: pointer;
        font-size: 14px;
        transition: 0.2s;
    }


    .section-title {
        margin-top: 35px;
        font-size: 20px;
        font-weight: bold;
    }

    .quick-card {
        margin-top: 15px;
        padding: 15px;
        border-radius: 12px;
        border: 1.5px solid #ddd;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .quick-card:hover{
        background: #0000001a;
    }

    .quick-icon {
        font-size: 20px;
    }

    .quick-text {
        margin-left: 10px;
    }