 

    .amount-display {
        margin-top: 30px;
        font-size: 36px;
        font-weight: bold;
        color: #222;
        text-align: center;
    }

    .bank-crd {
        background: #f1f1f1;
        margin-top: 30px;
        padding: 12px;
        border-radius: 12px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 14px;
    }

    .bank-logo {
      width: 50px;
      height: 30px;
      object-fit: contain;
      margin-bottom: 5px;
       
    }

    .keypad {
        margin-top: 25px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 12px;
    }

    .keypad button {
        height: 55px;
        font-size: 22px;
        background: #fff;
        border: 1.5px solid #ccc;
        border-radius: 12px;
        cursor:pointer;
        transition: 0.2s;
    }

    .keypad button:hover {
        background: #0000001a;
        color: #000;
    }

    .delete {
        font-weight: bold;
        color: #d32f2f;
        font-size: 20px;
    }

    .withdraw-btn {
        margin-top: 20px;
        width: 100%;
        background: #4aa5d2;
        border: none;
        padding: 14px 0;
        border-radius: 12px;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
    }

    .withdraw-btn:hover {
        background: #4aa5d2;
    }